@import '../../index.scss';

.about-cont {
  min-height: 400px;
  margin-top: -60px;

  h2 {
    color: $ag-darkgreen;
    font-weight: 500;
  }
}
.about-stats {
  .stats-cont > div {
    flex-direction: row !important;
    min-height: 250px;
  }
}

@media (max-width: 767.98px) {
  .about-stats {
    .stats-cont > div {
      min-height: 550px;
      flex-direction: column !important;
    }
  }
}
