.service-cont {
  overflow: hidden;
  position: relative;
  .circle {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.1);
    transition: 0.3s ease-in-out;
  }
  .dotted {
    position: absolute;
    top: 60px;
    left: auto;
    right: 20px;
    transition: 0.3s ease-in-out;
    img {
      width: 150px;
    }
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .price-cont {
    .price {
      margin-bottom: -15px;
      font-size: 4rem;
    }
  }
  hr {
    max-width: 100px;
    width: 60%;
    border-top: 2px solid;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .benfit-text {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .benifts-ul {
    ul {
      margin-bottom: 1px;
      list-style: none;
      padding-left: 0;
      li {
        position: relative;
        padding-left: 32px;
        margin-bottom: 5px;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 6px;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check-circle' class='svg-inline--fa fa-check-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%239FDB0E' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'></path></svg>");
        }
      }
    }
  }
  .view-btn button {
    width: 100%;
    margin-top: 20px;
  }

  &:hover {
    .circle {
      top: 50px;
      left: calc(100% - 50px);
    }
    .dotted {
      transform: scale(1.1);
    }
  }
}
