@import '../../../index.scss';

.contform-cont {
  position: absolute;
  height: calc(100% - 2rem) !important;
  width: calc(100% - 2rem) !important;

  .artbord-cont {
    border-radius: 15px 0 0 15px;
    overflow: hidden;
  }

  .form-cont {
    .header {
      h2 {
        font-size: 2.6rem;
        font-weight: bold;
        max-width: 490px;
        margin-bottom: 30px;
        span {
          color: $ag-green;
        }
      }
    }
    .form {
      input,
      select,
      textarea {
        border: none;
        width: 100%;
        min-height: 35px;
        border-bottom: 2px solid $ag-blue;
        padding: 8px 0px 8px 10px;
        margin-bottom: 25px;
        font-size: 1.1rem;
        color: $ag-darkblue;
        max-height: 100px;
        &:focus {
          border: none;
          outline: none;
          border-bottom: 2px solid $ag-green;
        }
      }

      .select {
        position: relative;
        & *,
        &:after,
        &:before {
          box-sizing: border-box;
        }
        button {
          width: 100%;
          height: 45px;
          margin-bottom: 25px;
          background: transparent;
          border: none;
          border-bottom: 2px solid $ag-blue;
          text-align: left;
          padding-left: 10px;
          font-size: 1.1rem;
          font-weight: 500;
          text-transform: capitalize;
          &:focus,
          &:hover {
            border-bottom: 2px solid $ag-green;
          }
        }
        ul {
          background-color: white;
          cursor: default;
          list-style: none;
          line-height: 26px;
          overflow: hidden;
          margin: 0;
          max-height: 0;
          position: absolute;
          padding: 0;
          transform: translateY(-50%);
          transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
          width: 100%;
          font-size: 1.1rem;
          font-weight: 500;
          text-transform: capitalize;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24) !important;
          li {
            height: 48px;
            margin: 0;
            padding: 10px 16px;
            outline: none;
            overflow: hidden;
            &:focus,
            &:hover {
              background: rgba(0, 0, 0, 0.01);
            }
            &.active {
              background: rgba(0, 0, 0, 0.08);
            }
          }
        }
        &.active ul {
          max-height: 200px;
          overflow: auto;
          padding: 8px 0 16px 0px;
          z-index: 2;
          transition: all 0.2s ease;
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .contform-cont {
    .form-cont {
      .header {
        h2 {
          font-size: 1.8rem;
        }
      }
    }
  }
}
