@import '../../../index.scss';

.contform-cont {
  position: absolute;
  // height: calc(100% - 2rem) !important;
  // width: calc(100% - 2rem) !important;
  width: 100%;
  height: 630px;
  max-height: 90vh;
  overflow: auto;
  > .row {
    min-height: 630px;
    max-height: 90vh;
    padding: 0 15px;
    .left-cont {
      padding: 15px 15px 15px 0;
      .artbord-cont {
        border-radius: 15px 0 0 15px;
        text-align: right;
        color: white;
        overflow: hidden;
        background-image: url(./../../../../public/assets/images/expert-bg.svg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: auto 100%;
        padding-right: 20px;
        font-size: 1.5rem;
      }
    }

    .form-cont {
      .header-form {
        h1 {
          font-size: 1.8rem;
          font-weight: 700;
          max-width: 400px;
          margin-bottom: 30px;
          span {
            color: $ag-green;
          }
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .contform-cont {
    > .row {
      .form-cont {
        .header {
          h1 {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
