@import '../../../index.scss';
.header-bg {
  background-color: $ag-darkblue;

  .lg-container {
    max-width: 1400px !important;
    margin: 0 auto;
    background-color: $ag-gray;
    header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;

      nav {
        width: 100%;
        > ul {
          justify-content: flex-end;
          display: flex;
          margin-bottom: 0;

          > li {
            list-style: none;
            margin: 0 20px;
            padding: 20px 0;
            font-weight: 600;
            color: $ag-darkblue;

            &:hover {
              color: $ag-green;

              .first-level {
                display: flex;
                flex-wrap: wrap;
              }
              .show-experts-menu-wrapper {
                display: block;
              }
            }
            .first-level {
              display: none;
              position: absolute;
              width: 100%;
              background: $ag-gray;
              left: 0;
              right: 0;
              max-width: 1150px;
              top: 70px;
              z-index: 5;
              padding: 30px;
              border-radius: 20px;

              .first-level-menu {
                width: 25%;
                > span {
                  color: $ag-darkblue;
                  font-weight: 600;
                  display: inline-block;
                  margin-bottom: 0.75rem;
                }
                .first-level-menu {
                  margin-bottom: 30px;
                  width: 100%;
                }

                ul {
                  list-style: none;
                  li {
                    font-size: 12px;
                    margin: 0 20px;
                    color: $ag-darkblue;
                  }
                }
              }
            }
            .show-experts-menu-wrapper {
              display: none;
              width: 100%;
            }
          }
        }
      }
    }

    .blog-btn.btn-success {
      background-color: $ag-green;
      border: none;
    }
  }
}
