@import '../../../index.scss';

.step-cont {
  .step-count {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    background-color: #9fdb0e2e;
    margin-right: 15px;
    font-size: 2.6rem;
    padding-top: 7px;
  }
  .step-details {
    h4 {
      margin-bottom: 5px;
      font-size: 1.3rem;
      font-weight: 600;
    }
    p {
      margin-bottom: 0px;
    }
  }
}
.startup-center {
  .step-cont {
    .step-count {
      color: $ag-lightblue;
      background-color: #0090ba2e;
    }
  }
}
