@import '../../../index.scss';
.accordion-cont {
  .accordion-item {
    border: none;
    margin-bottom: 5px;
    .accordion-button {
      background-color: $ag-darkblue;
      border-radius: 20px;
      color: white;
      font-weight: 600;
      &.collapsed {
        color: $ag-blue;
        background-color: $ag-gray;
        border-radius: 20px;
        &::after {
          background-image: url(../../../../public//assets//icons/accordion-plus.svg);
          transform: none;
        }
      }
      &:focus,
      &:active,
      &:focus-visible,
      &:focus-within {
        border: none;
        outline: none;
        box-shadow: none;
      }
      &::after {
        background-image: url(../../../../public//assets//icons/accordion-minus.svg);
      }
    }
    .accordion-body {
      color: $ag-blue;
      ul {
        margin-bottom: 0 !important;
        padding-left: 5px !important;
        li {
          list-style: none;
          font-weight: 600;
          line-height: 1.8;
          font-size: 1.1rem;
          &::before {
            content: '';
            display: inline-block;
            height: 18px;
            width: 27px;
            background-image: url(./../../../../public/assets/icons/bullet-icon.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left center;
            margin-top: 9px;
            margin-bottom: -4px;
          }

          &::marker {
            color: $ag-green;
          }
        }
        &.information {
          li:before {
            background-image: url(./../../../../public/assets/icons/information.png);
          }
        }
        &.benefits {
          li:before {
            background-image: url(./../../../../public/assets/icons/correct.svg);
          }
        }
        &.criteria {
          li:before {
            background-image: url(./../../../../public/assets/icons/clipboard.png);
          }
        }
        &.facts {
          li:before {
            background-image: url(./../../../../public/assets/icons/facts.svg);
          }
        }
      }
    }
  }
}

.full-panel-template {
  .SPAccordion {
    background-color: $ag-gray-dark;
    padding-top: 40px;
    padding-bottom: 1px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    .accordion-cont {
      background-color: white;
      border-radius: $ag-border-radius;
      box-shadow: $ag-box-shadow;
      padding: 1rem !important;
      max-width: 1375px !important;
      h3 {
        padding: 10px 0px 10px 5px !important;
      }
    }
  }
}
