.privacy-cont {
  margin-top: -60px;
  .privacy-header-cont h2 {
    position: sticky;
    top: 90px;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .privacy-img-cont {
    padding: 20px;
    border-radius: 20px 0 20px 0;
    img {
      width: 40px;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 1.3rem;
  }
  .desc {
    font-size: 0.95rem;
    font-weight: 500;
  }
}
