@import '../../../index.scss';

.includes-cont {
  .tip {
    padding: 10px 20px 10px 10px;
    margin-bottom: 10px;
    background-color: $ag-lb-20;
    margin-right: 10px;
    font-weight: 600;
    img {
      width: 25px;
      margin-right: 10px;
    }
  }
}

.full-panel-template {
  .component-cont.SPIncludes {
    > div {
      padding-top: 0 !important;
      // text-align: center;
      .includes-cont {
        // justify-content: center;
        .tip {
          padding: 7px 16px 7px 7px;
          font-size: 0.9rem;
          img {
            width: 22px;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
.service-page-cont.statuary-compliance {
  .component-cont.SPIncludes {
    > div {
      .includes-cont {
        justify-content: center;
      }
    }
  }
}
.service-page-cont.registration {
  .component-cont.SPIncludes {
    > div {
      padding-bottom: 20px !important;
    }
  }
}
