.document-cont {
  margin-top: 65px;
  .title-cont {
    z-index: 2;
    .img-cont {
      padding: 20px;
      margin-right: 20px;
      img {
        width: 40px;
      }
    }
    .title {
      max-width: 500px;
      h3 {
        font-weight: 600;
      }
    }
  }
  .file-cont {
    z-index: 2;
    ol {
      padding-left: 80px;
      > div {
        margin-bottom: 10px;
        li {
          font-size: 1.1rem;
          font-weight: 600;
          margin-bottom: 10px;
        }
        hr {
          opacity: 0.1;
          margin: 3px 0px 3px -20px;
        }
        &:last-child hr {
          display: none;
        }
      }
    }
  }
  .bg-gray-dark-cont {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }
  .clip-img {
    position: absolute;
    top: -58px;
    right: 20px;
    transition: 0.3s ease-in;
    img {
      width: 60px;
    }
  }
  .clip-blocker {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    top: 0;
    right: 40px;
  }

  &:hover {
    .clip-img {
      top: -28px !important;
    }
  }
}
.intellectual-property {
  .document-cont {
    margin-top: 0;
    margin-bottom: 0 !important;
    background-color: white !important;
    .clip-img,
    .clip-blocker {
      display: none;
    }
  }
}

@media (max-width: 575.98px) {
  .document-cont {
    .file-cont {
      ol {
        padding-left: 20px;
      }
    }
  }
  .bg-gray-dark-cont {
    display: none;
  }
}
