@import '../../../index.scss';
.doc-main-img-cont {
  img {
    width: 100%;
    max-width: 350px;
    padding: 0 10px 0 0;
  }
}
.document-cont {
  margin-top: 55px;
  .title-cont {
    z-index: 2;
    .img-cont {
      padding: 20px;
      margin-right: 20px;
      img {
        width: 40px;
      }
    }
    .title {
      max-width: 500px;
      h3 {
        font-weight: 600;
      }
    }
  }
  .file-cont {
    z-index: 2;
    ol {
      padding-left: 80px;
      > div {
        margin-bottom: 10px;
        li {
          font-size: 1.1rem;
          font-weight: 600;
          margin-bottom: 10px;
        }
        hr {
          opacity: 0.1;
          margin: 3px 0px 3px -20px;
        }
        &:last-child hr {
          display: none;
        }
      }
    }
  }
  .bg-gray-dark-cont {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }
  .clip-img {
    position: absolute;
    top: -48px;
    right: 20px;
    transition: 0.3s ease-in;
    img {
      width: 60px;
    }
  }
  .clip-blocker {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    top: 0;
    right: 40px;
  }

  &:hover {
    .clip-img {
      top: -28px !important;
    }
  }
}
.intellectual-property {
  .document-cont {
    margin-top: 0;
    margin-bottom: 0 !important;
    background-color: white !important;
    .clip-img,
    .clip-blocker {
      display: none;
    }
  }
}
.registration {
  .document-cont {
    margin-top: 65px;
    background-color: $ag-darkblue;
    color: white;
    margin-bottom: -5px !important;
    .title-cont {
      margin-bottom: 5px !important;
      .img-cont {
        display: none;
      }
      .title {
        max-width: none;
        padding-left: 0px;
        padding-top: 10px;
        margin-bottom: 20px;
        h3 {
          font-weight: 500 !important;
        }
      }
    }
    .file-cont ol {
      padding-left: 1rem;
      > div {
        li {
          font-weight: 400;
          font-size: 0.9rem;
        }
        hr {
          display: none;
        }
      }
    }
    .clip-blocker {
      background-color: $ag-darkblue;
    }
    .bg-gray-dark-cont {
      display: none;
    }
  }
}
.certification {
  .document-cont {
    margin-top: 65px;
    .title-cont {
      .img-cont {
        display: none;
      }
      .title {
        padding-left: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        max-width: none;
      }
    }
    .file-cont ol {
      padding-left: 30px;
    }
    .bg-gray-dark-cont {
      display: none;
    }
  }
}

@media (max-width: 575.98px) {
  .document-cont {
    .file-cont {
      ol {
        padding-left: 20px;
      }
    }
  }
  .bg-gray-dark-cont {
    display: none;
  }
}
