@import '../../../index.scss';

.lp-header {
  height: 70px;
  background-color: white;
  border: 2px solid $ag-green;
  position: fixed;
  z-index: 5;
  width: 100vw;

  .aanoor-logo {
    height: 70px;
    img {
      padding-top: 6px;
      padding-bottom: 6px;
      height: 100%;
    }
  }
  .call-links {
    height: 70px;
    font-weight: 600;
    a,
    a:hover,
    a:focus,
    a:focus-visible {
      border: none;
      outline: none;
      box-shadow: none;
    }
    img {
      width: 40px;
    }
    .call img {
      width: 35px;
    }
  }
}
