@import '../../../index.scss';
ul {
  li {
    font-weight: 500;
    &::marker {
      color: $ag-green;
    }
  }
}
.full-panel-template {
  .bullet-cont {
    padding-top: 20px !important;
    h3 {
      color: $ag-white;
    }
    ul {
      li {
        color: $ag-white;
      }
    }
  }
}
