$ag-darkblue: #001b29;
$ag-blue: #0a527a;
$ag-lightblue: #0090ba;
$ag-darkblue-overlay: #002132;
// $ag-green: #89ab20;
// $ag-darkgreen: #769616;
// $ag-green: #9fdb0e;
// $ag-darkgreen: #97d20e;
$ag-green: #89bb14;
$ag-darkgreen: #8fc60e;
$ag-gray: #f8f8f8;
$ag-gray-dark: #eeeeee;
$ag-orange: #f89500;
$ag-purple: #7300ba;
$ag-red: #e20000;
$ag-white: #fff;

$ag-lb-20: #0090ba25;

$ag-border-radius: 20px;
$ag-box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.1);
