$ag-darkblue: #001b29;
$ag-blue: #0a527a;
$ag-lightblue: #0090ba;
$ag-green: #9fdb0e;
$ag-darkgreen: #97d20e;
$ag-gray: #f8f8f8;
$ag-gray-dark: #eeeeee;
$ag-orange: #f89500;
$ag-purple: #7300ba;
$ag-red: #e20000;
$ag-white: #fff;

$ag-lb-20: #0090ba25;

.text-db {
  color: $ag-darkblue;
}
.text-lb {
  color: $ag-lightblue;
}
.text-blue {
  color: $ag-blue;
}
.text-green {
  color: $ag-green;
}
.bg-db {
  background-color: $ag-darkblue;
}
.bg-lb {
  background-color: $ag-lightblue;
}
.bg-green {
  background-color: $ag-green;
}
.bg-orange {
  background-color: $ag-orange;
}
.bg-purple {
  background-color: $ag-purple;
}
.bg-red {
  background-color: $ag-red;
}
.bg-gray {
  background-color: $ag-gray;
}
.bg-gray-dark {
  background-color: $ag-gray-dark;
}
.bg-white {
  background-color: $ag-white;
}
.sec-text {
  opacity: 0.5;
}
.br-1 {
  border-radius: 20px;
}
.br-tl-0 {
  border-top-left-radius: 0;
}
.br-tr-o {
  border-top-right-radius: 0;
}
.bs {
  box-shadow: 0px 0px 27px -3px rgba(0, 0, 0, 0.1);
}
.o-05 {
  opacity: 0.5;
}
.bebas {
  font-family: 'Bebas Neue', sans-serif !important;
}
body {
  color: $ag-blue;
  font-family: 'Quicksand', sans-serif;
  background-color: $ag-gray-dark;
}
.container {
  max-width: 1150px !important;
}

// Common Classes
.section-title {
  color: $ag-green;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.section-text {
  color: $ag-blue;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.8rem;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease-in-out;
  &:hover {
    color: $ag-green !important;
  }
}
// Scroll Bar css
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $ag-green;
  border: 1px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
  background: $ag-darkgreen;
}

@media (max-width: 767.98px) {
  .section-text {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
