@import '../../../index.scss';

.benefits-cont {
  ul {
    margin-bottom: 1px;
    list-style: none;
    padding-left: 0;
    width: 100%;
    li {
      position: relative;
      padding: 10px 20px 10px 40px;
      margin-bottom: 8px;
      // width: max-content;
      font-weight: 600;
      &::before {
        content: '';
        position: absolute;
        left: 10px;
        top: 12px;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check-circle' class='svg-inline--fa fa-check-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%239FDB0E' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'></path></svg>");
      }
    }
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
  }
  .facts {
    ul {
      li {
        &::before {
          background-image: url(./../../../../public/assets/icons/info.png) !important;
          background-size: contain;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .important {
    ul {
      li {
        &::before {
          background-image: url(./../../../../public/assets/icons/information.png) !important;
          background-size: contain;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .criteria {
    ul {
      li {
        &::before {
          background-image: url(./../../../../public/assets/icons/clipboard.png) !important;
          background-size: contain;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.full-panel-template {
  .benefits-cont {
    h4,
    h3,
    p {
      color: white;
    }
  }
}
.service-page-cont.registration {
  .benefits-cont {
    padding-top: 20px !important;
    margin-bottom: 10px !important;
    > .row .col-md-8 {
      align-self: center;
    }
    h4 {
      font-weight: 500;
    }
    ul {
      li {
        background-color: $ag-darkblue-overlay !important;
        color: white;
        font-weight: 400;
      }
    }
    .registration-img-cont {
      position: relative;
      display: flex;
      z-index: 3;
      align-items: center;
      justify-content: center;
      padding: 20px;
      height: 100%;
      img {
        width: 90%;
        max-width: 250px;
      }
    }
    .registration-img-bg {
      background-color: $ag-darkblue-overlay;
      height: auto;
      width: 200px;
      border-radius: 50%;
      position: absolute;
      max-width: 65%;
      top: 40%;
      transform: translate(50%, -50%);
      right: 40%;
      aspect-ratio: 1 / 1;
    }
    .glass {
      position: absolute;
      height: 45px;
      width: 200px;
      top: 60%;
      z-index: 5;
      left: 20%;
      color: white;
      text-align: center;
      padding: 10px;
    }
  }
}
.service-page-cont.statuary-compliance {
  .benefits-cont {
    margin-bottom: 40px !important;
    margin-top: 20px !important;
    h3 {
      // color: $ag-green !important;
      color: white !important;
      // text-align: center;
    }
    .benefits-desc {
      // text-align: center;
      color: white;
    }
    .benefits-ul {
      border-radius: 20px;
      overflow: hidden;
      margin-top: 20px;
      h4 {
        border-radius: 0px 0px 0 0;
        color: $ag-blue;
        background-color: $ag-gray-dark !important;
        margin: 0;
        font-weight: 700;
        padding: 12px 15px;
      }
      li {
        margin-bottom: 0;
        border-radius: 0 !important;
        padding-top: 15px;
        padding-bottom: 15px;
        &::before {
          top: 18px;
        }
        // &:first-child {
        //   border-radius: 20px 20px 0 0 !important;
        // }
        // &:last-child {
        //   border-radius: 0 0 20px 20px !important;
        // }
        &:nth-child(odd) {
          background-color: $ag-gray-dark !important;
        }
        &:nth-child(even) {
          background-color: $ag-gray !important;
        }
      }
    }
  }
}
.service-page-cont.certification {
  .benefits-cont {
    margin-top: 20px !important;
    .benefits-desc {
      margin-bottom: 10px !important;
    }
    .benefits-ul {
      padding: 20px 0 20px 60px;
      position: relative;
      background-image: url(./../../../../public/assets/images/benefits-certificate-bg.svg);
      background-repeat: no-repeat;
      background-position: right center;
      &::before {
        content: '';
        background-color: #ffffff10;
        width: 250px;
        max-width: 60%;
        height: 100%;
        position: absolute;
        display: flex;
        border-radius: 30px;
        left: 0px;
        top: 0px;
      }
      li {
        width: fit-content;
      }
      > div:first-child h4 {
        margin-top: 0 !important;
      }
    }
  }
}
@media (max-width: 767.98px) {
  .service-page-cont.certification {
    .benefits-cont {
      .benefits-desc {
        margin-bottom: 10px !important;
      }
      .benefits-ul {
        padding: 0;
        &::before {
          content: none;
        }
      }
    }
  }
}
