.title {
  font-weight: bold;
  font-family: 1.2rem;
}
.category {
  font-size: 1rem;
}
.searchresult-btn {
  button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    text-decoration: underline;
    min-width: 100px;
    padding-right: 0;
  }
}
.noresult-cont {
  // margin-top: 20px;
  p {
    font-weight: bold;
  }
  img {
    width: 200px;
    margin-left: 15px;
  }
}
