.registration-hero-banner-cont {
  padding-top: 80px;
  background-image: url(./../../../../public/assets/images/registration-bg.svg);
  background-position: right bottom;
  background-size: auto 100%;
  background-repeat: no-repeat;
  .banner-holder {
    h1 {
      font-size: 12rem;
      line-height: 0.8;
      margin-left: -5px;
      img {
        width: 130px;
        margin-bottom: -20px;
        margin-left: 20px;
      }
    }
    .clip-cont {
      background: url(./../../../../public/assets/images/registration-bg.jpg)
        no-repeat;
      background-position: center bottom;
      background-size: cover;
      -webkit-text-fill-color: #ffffff0f;
      -webkit-background-clip: text;
    }
  }
  .hero-text-cont {
    .title-cont {
      h1 {
        font-size: 2.5rem;
        font-weight: 600;
      }
      p {
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .price-cont {
      font-weight: 500;
      font-size: 1.1rem;
      padding-bottom: 5px;
      .just {
        line-height: 1.3rem;
      }
      .price {
        font-size: 4rem;
        line-height: 5rem;
      }
      .note {
        font-size: 1rem;
        font-weight: 500;
        opacity: 0.7;
        line-height: 0.5rem;
      }
    }
  }
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .registration-hero-banner-cont {
    .banner-holder {
      h1 {
        font-size: 10rem;
        img {
          width: 110px;
          margin-bottom: -20px;
        }
      }
    }
  }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .registration-hero-banner-cont {
    .banner-holder {
      h1 {
        font-size: 8rem;
        img {
          width: 80px;
          margin-bottom: -20px;
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .registration-hero-banner-cont {
    .banner-holder {
      h1 {
        font-size: 6rem;
        img {
          width: 70px;
          margin-bottom: 0px;
        }
      }
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .registration-hero-banner-cont {
    .banner-holder {
      h1 {
        font-size: 4rem;
        img {
          width: 50px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
